#title{
  background-color: #f4c2c2;
  color:	#fff;
}
.container-fluid{
  padding: 3% 15% 7%;

}
body{
  font-family: 'Montserrat', sans-serif;
}
h1{
font-family: 'Montserrat-Bold 700', sans-serif;
  font-size:3rem;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat-Bold 700', sans-serif;
  font-size:3rem;

}
h3{
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}
p{
color:#8f8f8f;
}
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px;
  font-weight: bold;

}
.nav-link{
  font-size: 1.2rem;
  color:#fff;

}
.download-button{
  margin:5% 3% 5% 0;
}
.tilt-image{
width:60%;
transform: rotate(25deg);

position: absolute;
}
#features{
  padding :7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  padding: 5%;
  text-align: center;;
}
.icon{
  color:#f4c2c2;
margin-bottom: 1rem;
}
.icon:hover{
  color:#e75480;
}
.aicon{
  color:#f4c2c2;
}
#testimonials{
  color:#fff;
  text-align:center;
  background-color:#f4c2c2;
}
.testimonial-image{
  width:20%;
  border-radius: 100%;
  margin:20px;
}
#press{
  text-align:center;
  background-color:#f4c2c2;
  padding-bottom: 15%;
}
.press-icon{
  width: 15%;
  margin:20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
#cta{
  background-color: #f4c2c2;
  text-align:center;
  padding:7% 15%;
  color:#fff;
}
.cta-text{
  font-family: "Ubuntu";
  font-size: 3.5 rem;
  line-height: 1.5;
}
#footer{
  padding: 7% 15%;
  text-align:center;
}
.social-icon{
margin: 20px 10px;
}
@media(max-width:1028px){
  #title{
    text-align: center;
  }
  .tilt-image{
    position :static;
    transform: rotate(0);

  }
}
